---
name: {{SKILL_NAME}}
agent: {{AGENT}}
---

install_root: {{ROOT_DIR}}
bin_dir: {{ROOT_DIR}}/bin
skill_dir: {{SKILL_DIR}}

## Global flags
{{GLOBAL_FLAGS}}

## Entrypoint
{{ENTRYPOINT}}

## Preamble
{{PREAMBLE}}
